<style>
  .booking-btn {
    background-color: lightblue;
    color: black;
    height:60px;
    width:140px;
  }

  .clear-btn {
    height:60px;
    width:140px;
    background: transparent;
    border: none !important;
    font-size:0;
  }
</style>

<div *ngIf="booking; else clearButton">
  <button class="sky-btn booking-btn"
    type="button"
    [skyPopover]="myPopover"
    skyPopoverTrigger="mouseenter">
    <span>{{ booking.name }}</span>
    <br>
    <span>{{ booking.startTime }} - {{ booking.endTime }}</span>
  </button>
</div>

<ng-template #clearButton>
  <button type="button" class="sky-btn sky-btn-clear" (click)="openModal('1','04/21/2020','16:00','17:00', 'GOAT', 'Laser Cutter')">
   
  </button>
</ng-template>

