<app-nav>
</app-nav>

<main>

  <h1>
    {{ 'schedule_title' | skyAppResources }}
  </h1>

  <div class="columns">
    <div class="button1">
      <sky-modal-launcher>
        Reserve station
      </sky-modal-launcher>
    </div>
    <div class="datepicker">
      <sky-datepicker>
        <input skyDatepickerInput
          [dateFormat]="dateFormat"
          [disabled]="disabled"
          [maxDate]="maxDate"
          [minDate]="minDate"
          [(ngModel)]="selectedDate"
          #date="ngModel" />
      </sky-datepicker>
    </div>
    <div class="button2">
      <a class="sky-btn sky-btn"
        (click)="today($event)">
        Today
      </a>
    </div>
  </div>

  <div class="toolbar">
    <sky-toolbar>
      <sky-toolbar-item>
        <button type="button"
          class="sky-btn sky-btn-default"
          (click)="goBack($event)">
          <sky-icon icon="caret-left"
            size="2x"></sky-icon>
        </button>
      </sky-toolbar-item>
      <sky-toolbar-item>
        <button type="button"
          class="sky-btn sky-btn-default"
          (click)="goForward($event)">
          <sky-icon icon="caret-right"
            size="2x"></sky-icon>
        </button>
      </sky-toolbar-item>
      <sky-toolbar-item>
        {{ theDate | date:'fullDate' }}
      </sky-toolbar-item>
    </sky-toolbar>
  </div>

  <!--Each item requires an `id` and a property that maps to the `field` or `id` property of each column in the grid.-->
  <div class="fullgrid">
    <div class="grid1">
      <sky-grid fit="scroll"
        [data]="data"
        (sortFieldChange)="onSortChangeForGrid($event)">
        <sky-grid-column field="station"
          heading=" "
          [template]="stationTemplate">
        </sky-grid-column>
      </sky-grid>
    </div>
    <div class="grid2">
      <sky-grid fit="scroll"
        [data]="timeBlocks"
        (sortFieldChange)="onSortChangeForGrid($event)">
        <sky-grid-column field="_00"
          heading="12:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_01"
          heading="1:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_02"
          heading="2:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_03"
          heading="3:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_04"
          heading="4:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_05"
          heading="5:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_06"
          heading="6:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_07"
          heading="7:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_08"
          heading="8:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_09"
          heading="9:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_10"
          heading="10:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_11"
          heading="11:00 AM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_12"
          heading="12:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_13"
          heading="1:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_14"
          heading="2:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_15"
          heading="3:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_16"
          heading="4:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_17"
          heading="5:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_18"
          heading="6:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_19"
          heading="7:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_20"
          heading="8:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_21"
          heading="9:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_22"
          heading="10:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
        <sky-grid-column field="_23"
          heading="11:00 PM"
          [template]="bookingTemplate">
        </sky-grid-column>
      </sky-grid>
    </div>
  </div>

  <ng-template let-value="value"
    let-row="row"
    #bookingTemplate>
    <!--
      <div>{{ value }}</div> 
    -->
    <time-block [booking]="getBooking(value)"></time-block>
    
  </ng-template>

  <style>
    .station-btn {
      height:60px;
      width:300px;
      background: transparent;
    }
  </style>

  <ng-template  let-value="value"
  let-row="row"
  #stationTemplate>
    <button class="sky-btn station-btn "
    type="button">
    <span>{{ value }}</span>
    </button>
  </ng-template>

</main>
