h1 {
  padding-left: 30px;
}

div.columns {
  width: 550px;
  height: 90px;
  padding-left: 30px;
  padding-right: 10px;
}

div.button1 {
  float: left;
  width: 100px;
  height: 60px;
}

div.datepicker {
  float: right;
  width: 190px;
  height: 60px;
  margin-right: 20px;
}

div.button2 {
  float: right;
  width: 80px;
  height: 60px;
}

div.toolbar {
padding-left: 30px;
padding-right: 30px;
}

div.heading {
  margin-left: 20px;
}

div.fullgrid {
  padding-left: 30px;
  padding-right: 30px;
}

div.grid1 {
  float: left;
  width: 20%;
}

div.grid2 {
  float: left;
  width: 80%;
  height: 500px;
}
