<app-nav>
</app-nav>

<main>
  <div class="main">
    <h1>
      {{ 'schedule_title' | skyAppResources }}
    </h1>
  </div>

  <div class="columns">
    <div class="button1">
      <a class="sky-btn sky-btn-primary"
        rel="noopener noreferrer"
        target="_blank">
        Reserve station
      </a>
    </div>
    <div class="datepicker">
      <sky-datepicker>
        <input skyDatepickerInput
          [dateFormat]="dateFormat"
          [disabled]="disabled"
          [maxDate]="maxDate"
          [minDate]="minDate"
          [(ngModel)]="selectedDate"
          #date="ngModel" />
      </sky-datepicker>
    </div>
    <div class="button2">
      <a class="sky-btn sky-btn"
        rel="noopener noreferrer"
        target="_blank">
        Today
      </a>
    </div>

  </div>

  <makerspace-calendar-component></makerspace-calendar-component>
</main>
